<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>

  <ion-row *ngIf="product_exist">

    <ion-col>
      <ion-img src="../../../assets/products/{{product_id}}/1.jpg"></ion-img>
    
      <ion-card-header>
        <ion-card-title class="cardLink">{{product_name}}</ion-card-title>
        <ion-card-subtitle>{{brand_name}}</ion-card-subtitle>
        <ion-card-subtitle>{{category_name}}</ion-card-subtitle>
      </ion-card-header>
      <div class="ion-text-center">
        <ion-button class="participate" (click)="presentModal()">Participar</ion-button>
      </div>
      
    </ion-col>

  </ion-row>

  <ion-row *ngIf="!product_exist">
    <h3>No existe el producto</h3>
  </ion-row>

</ion-grid>