.redBgFull{ 
    background-color: #E83F4B;
    background-position: center center;
    background-size: cover;
    height: 100% !important; 
}

.fbBtn{
    --background: #3b5998 !important;
    --background-activated: #3b5998 !important;
}