<ion-slides pager="true">
  <ion-slide>
    <ion-row>
      <ion-img src="../../assets/icons/intro.svg" class="icon-nav"></ion-img>
    </ion-row>
  </ion-slide>
  
  <ion-slide>
    <ion-row>
      <ion-img src="../../assets/icons/intro.svg" class="icon-nav"></ion-img>
    </ion-row>
  </ion-slide>
  
  <ion-slide>
    <ion-row>
      <ion-img src="../../assets/icons/intro.svg" class="icon-nav"></ion-img>
      <ion-button expand="block" routerLink="/login" routerDirection="root">Inicio de sesión</ion-button>
    </ion-row>
  </ion-slide>
</ion-slides> 
  

