ion-slides{ 
    background-color: #E83F4B;
    background-position: center center;
    background-size: cover;
    height: 100% !important; 
}

.slide-img{
    width: 360px !important;
    height: auto !important;
}