.red{
    background-color: #E83F4B;
 }

ion-tab-bar {
    --ion-color-primary: #912734;
}

ion-icon{
    color: #912734;
}

ion-label{
    color: #912734;
}

.icon-nav {
    width: 27px; 
    height: auto;
}

ion-slide { 
    width: unset !important;
}