<ion-tabs>
  <ion-tab-bar slot="bottom" class="red">
    <ion-tab-button tab="home" class="red">
      <ion-img src="../../assets/icons/home.svg" class="icon-nav"></ion-img>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile" class="red">
      <ion-img src="../../assets/icons/perfil.svg" class="icon-nav"></ion-img>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" class="red">
      <ion-img src="../../assets/icons/buscar.svg" class="icon-nav"></ion-img>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pocket" class="red">
      <ion-img src="../../assets/icons/bolsillo.svg" class="icon-nav"></ion-img>
      <ion-label>Mi bolsillo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
