<ion-header>
  <ion-toolbar>
    <ion-title>
      Explorar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar id="keyword" placeholder="Buscar" (keyup)="searchProduct($event.target.value)"></ion-searchbar>
  <ion-grid *ngIf="showCategories">
    <ion-row>
      <ion-col class="ion-text-center">Celulares</ion-col>
      <ion-col class="ion-text-center">Juegos</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">Hogar</ion-col>
      <ion-col class="ion-text-center">Ropa</ion-col>
    </ion-row>

  </ion-grid>

  <ion-content *ngIf="showGrid">
    <ion-grid class="grid" id="grid">
      <ion-row>
        <ion-col *ngFor="let item of items" col-6 no-padding>
          <ion-card class="productCard">
            <img src="../../../assets/products/{{item.product_id}}/1.jpg">
            <ion-card-content>
              <a class="cardLink" routerLink="/product/{{item.product_id}}">
                {{item.product_name}}
              </a>
              <ion-card-subtitle>
                {{item.category_name}}
              </ion-card-subtitle>
            </ion-card-content>            
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
  <ion-grid *ngIf="showNone">
    <h3>No hay productos con tu criterio de búsqeda, intenta otra cosa.</h3>
  </ion-grid>
  
</ion-content>
