.productBtn{
    --background: transparent !important;
    --background-activated: transparent !important;
}


.p25{
    height: 25% !important;
}

ion-card{
    margin: 5px !important;
}

.catCard{
    width: 165px;
    height: 165px;
    --border-radius: 0px;
    vertical-align: middle;
}