.productBtn{
    --background: transparent !important;
    --background-activated: transparent !important;
}

.productCard{
    width: 165px;
    height: 225px;
    --border-radius: 0px;
}
.p25{
    height: 25% !important;
}

ion-card{
    margin: 5px !important;
}