<ion-header>
  <ion-toolbar>
    <ion-title>Productos destacados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngFor="let item of items" class="grid" id="grid">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="5">
            <img src="../../../assets/products/{{item.product_id}}/1.jpg">
          </ion-col>
          <ion-col size="7">
            <ion-card-header>
              <ion-card-title>
                {{item.product_name}}
              </ion-card-title>
              <ion-card-subtitle>
                {{item.category_name}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-item>
              <ion-progress-bar value="0.5">

              </ion-progress-bar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>


  
</ion-content>
