<ion-header>
  <ion-toolbar>
    <ion-title>Productos destacados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-row>
            <ion-col size="12">
              <img src="../../../assets/products/1/1.jpg">
            </ion-col>
          </ion-row>
          <ion-row>
    
            <ion-col size="12">
              <ion-card-header>
                <ion-card-title>Samsung Galaxy s9</ion-card-title>
                <ion-card-subtitle>Smartphones</ion-card-subtitle>
              </ion-card-header>
    
              <ion-card-content>
                $3,131
              </ion-card-content>
              <ion-card-content>
                <button ion-button>
                  <ion-icon name="heart-empty"></ion-icon>
                </button>
              </ion-card-content>
            </ion-col>
    
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-row>
            <ion-col size="12">
              <img src="../../../assets/products/1/1.jpg">
            </ion-col>
          </ion-row>
          <ion-row>
    
            <ion-col size="12">
              <ion-card-header>
                <ion-card-title>Samsung Galaxy s9</ion-card-title>
                <ion-card-subtitle>Smartphones</ion-card-subtitle>
              </ion-card-header>
    
              <ion-card-content>
                $3,131
              </ion-card-content>
              <ion-card-content>
                <button ion-button>
                  <ion-icon name="heart-empty"></ion-icon>
                </button>
              </ion-card-content>
            </ion-col>
    
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
